<div class="bg-gradient-to-b from-black to-gray-900 min-h-screen flex items-start justify-center">
    <div class="mt-8">
        <div class="text-center text-gray-600 text-2xl mb-4">Registro de Productos</div>
        <div class="overflow-x-auto mx-auto">
            <table class="max-w-4xl w-full text-sm text-left rtl:text-right text-gray-300 bg-white dark:bg-gray-800 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            ID Producto
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Descripción
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Precio
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Existencias
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of getPaginatedData()" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{producto.idProducto}}
                        </th>
                        <td class="px-6 py-4">
                            {{producto.descripcion}}
                        </td>
                        <td class="px-6 py-4">
                            {{producto.precio}}
                        </td>
                        <td class="px-6 py-4">
                            {{producto.existencias}}
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <!-- Botones de paginación -->
            <div class="flex justify-center mt-4">
                <button (click)="prevPage()" [disabled]="currentPage === 1" class="bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-l">
                    Anterior
                </button>
                <button (click)="nextPage()" [disabled]="currentPage === totalPages()" class="bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-r">
                    Siguiente
                </button>
            </div>

            <!-- Número total de productos -->
            <!-- Número total de productos -->
<div class="text-center text-gray-600 mt-2">
    Mostrando {{(currentPage - 1) * pageSize + 1}} a 
    {{currentPage * pageSize > productos.length ? productos.length : currentPage * pageSize}} de 
    {{productos.length}} Registros
</div>

        </div>
    </div>
</div>
